.album-input {
  box-sizing: border-box;
  height: 63px;
  width: 200px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  display: block;
  font-size: 24px;
}

.newAlbum {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-left: 80px;
}

@media only screen and (min-width: 1201px) {
  .newAlbum {
    width: 85%;
  }
}
