.newPlayer-container {
  padding-bottom: 80px;
  margin-top: 80px;
}

.newPlayer {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
}

.player-input {
  box-sizing: border-box;
  height: 63px;
  width: 200px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  display: block;
  font-size: 24px;
}

.submit {
  height: 60px;
  width: 162px;
  border-radius: 30px;
  background-color: #ffc600;
  cursor: pointer;
  color: #000000;
  font-family: "WorkSans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
  margin-top: 30px;
}
.message {
  padding-left: 80px;
}
@media only screen and (min-width: 1201px) {
  .newPlayer {
    width: 85%;
  }
}
