.button-container {
  text-align: center;
  width: 83%;
}
button {
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  background-color: navy;
  text-align: center;
  width: 100px;
  height: 50px;
  cursor: pointer;
}
