.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  margin-bottom: 20px;
}

.container {
  height: 230px;
  width: 1280px;
  margin-left: 80px;
}

.submit {
  height: 60px;
  width: 162px;
  border-radius: 30px;
  background-color: #ffc600;
  cursor: pointer;
  color: #000000;
  font-family: "WorkSans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 35px;
}

.allPlayers {
  text-decoration: underline;
  cursor: pointer;
}
.search {
  box-sizing: border-box;
  height: 63px;
  width: 300px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  display: block;
  margin-top: 10px;
}

#nameSearch {
  box-sizing: border-box;
  height: 63px;
  width: 767px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.click-container {
  display: flex;
}
.clicked {
  text-decoration: underline;
  margin-right: 25px;
}

.clickable {
  color: #aaaaaa;
  cursor: pointer;
  margin-right: 25px;
}
