#hiddenPlayer {
  display: none;
}
#shownPlayer {
  display: block;
}

.container {
  display: inline;
  border-top: 4px solid #ffeeb4;
}

.player-line-container {
  border-bottom: 4px solid #ffeeb4;
}
.player-line {
  display: flex;
  justify-content: space-between;

  cursor: pointer;
  margin-top: -19px;
}

.player-line:hover {
  background-color: black;
}

#caret {
  width: 50px;
  margin-top: 40px;
}

.player-line:hover > svg .background,
.player-line:hover {
  fill: black;
}
