.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 80%;
  margin-bottom: 20px;
}

.container {
  height: 230px;
  width: 1280px;
  margin-left: 80px;
}

.allPlayers {
  text-decoration: underline;
  cursor: pointer;
}
.search {
  box-sizing: border-box;
  height: 63px;
  width: 300px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  display: block;
  margin-top: 10px;
  font-size: 24px;
}

.search:focus {
  border: 3px solid #ffc600;
}

#nameSearch {
  box-sizing: border-box;
  height: 63px;
  width: 767px;
  border: 3px solid #666666;
  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 20px;
  font-size: 24px;
}

#nameSearch:focus {
  border: 3px solid #ffc600;
}

.click-container {
  display: flex;
}
.clicked {
  text-decoration: underline;
  margin-right: 25px;
  pointer-events: none;
}

.clickable {
  color: #aaaaaa;
  cursor: pointer;
  margin-right: 25px;
}
svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: -2px;
}
